@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2475e0;
  --secondary: rgba(36, 117, 224, 0.8);
  --tertiary: rgba(36, 117, 224, 0.7);
  --danger: #e41e3f;

  /* LIGHT COLORS */
  --bg: #f0f2f5;
  --box: #ffffff;
  --comment-box: #f0f2f5;
  --floating-btn: #ffffff;
  --color: #050505;

  /* DARK COLORS */
  --bg-dark: #18191a;
  --box-dark: #242526;
  --comment-box-dark: #3a3b3c;
  --floating-btn-dark: #4b4c4f;
  --color-dark: #e6e5eb;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
main {
  max-width: 1800px;
  margin: 0 auto;
}

.story::-webkit-scrollbar {
  display: none;
}

.active {
  color: var(--primary);
  position: relative;
}
.active:hover {
  background: var(--secondary) !important;
}
.active > div:hover {
  background: var(--secondary) !important;
}
.active:before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background: var(--primary);
}

.active.user-avatar {
  background: var(--secondary);
}
.active.active.user-avatar:before {
  content: "";
  height: 0;
}
.comment-icons {
  box-sizing: content-box;
}

.form-bg {
  background-color: #2475e0;
  background: linear-gradient(
      to top right,
      rgba(197, 8, 125, 0.3),
      rgba(154, 13, 197, 0.25)
    ),
    url(../public//assets/logo.png) no-repeat;
  background-position: center;
  background-size: cover;
}
/* NAVBAR */
.nav-container {
  width: 100%;
  display: flex;
  align-items: center;
}
.search-bar {
  background-color: var(--comment-box);
}
.search-bar input {
  border: none;
  background-color: transparent;
  outline: none;
}
.search-bar input:active {
  border: none;
}

/* MEDIA QUERY */

/*  */
@media (min-width: 768px) {
  .nav-container {
    display: flex;
  }
}

@media (max-width: 1280px) {
  /* SIDEBAR */
  .sidebar {
    width: 275px;
    height: 100%;
    padding-top: 70px;
    background-color:#f9f9f9;
    position: fixed;
    left: -110%;
    top: 0;
    transition: left 0.5s;
    z-index: 1400;
  }
  .sidebar.open {
    left: 0;
  }
}
